<div>
<h1 style=" color:green ; text-align :center" > 멋쟁이 사자처럼 대나무숲 </h1>
</div>
<div>

<a href="/posts/new"> 글 작성하기 </a>
</div>
<br>
<br>
<hr>

<% @posts.each do |p| %>
    <br>
        <a href="/posts/show/<%=p.id%>" style=" color:teal"> 제목  :   <%= p.title %></a>
    <br>
    <br>
        <%= p.content %>
    <br>
    
        <form  action="/posts/destroy/<%=p.id%>" method="post">
            <button type="submit" value ="삭제" style="color:maroon"> 삭제</button>
            <button type="submit" value ="삭제" style="color:maroon" formaction= "/posts/edit/<%=p.id%>" formmethod="POST">수정 </button>
        </form>
    <hr>
<% end %>